<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tajtle</title>
	<style>
		body {
			margin: 0;
			padding: 0;
			border: 0;
			width: <%= reso.width %>px;
			height: <%= reso.height %>px;
			font-family: sans-serif;
		}

		h1 {
			background-color: white;
		}

		.notification {
			overflow: hidden;
			position: absolute;
			left: <%= (reso.width / 2) - 410%>px;
			top: <%= (reso.height / 2) - 80%>px;
			width: 820px;
			height: 160px;
		}

		@-webkit-keyframes slide {
			0% {-webkit-transform: translateY(-160px);}
			10% {-webkit-transform: translateY(0px);}
			90% {-webkit-transform: translateY(0px);}
			100% {-webkit-transform: translateY(-160px);}
		}

		.inner-content {
			text-align: center;
			background-color: #C9DF72;
			border-radius: 10px;
			width: 800px;
			height: 140px;
			padding-top: 5px;
			-webkit-transform: translateY(-160px);
		}

		.animate-inner-content {
			-webkit-animation: slide 9s linear;
		}

		.content-title {
			color: #708422;
			font-size: 38px;
		}

		.content-text {
			color: #435307;
			font-size: 72px;
		}

		.chat {
			overflow: hidden;
			position: absolute;
			left: <%= (reso.width / 2) - 410%>px;
			bottom: 10px;
			width: 820px;
			height: 81px;
		}

		@-webkit-keyframes chat-slide {
			0% {-webkit-transform: translateY(0px);}
			100% {-webkit-transform: translateY(-27px);}
		}

		.animate-chat-rows {
			-webkit-animation: chat-slide 1s ease-out;
		}

		.chat-row {
			background-color: #C9DF72;
			width: 760px;
			height: 26px;
			margin-bottom: 1px;
			border-radius: 5px;
			color: #435307;
			line-height: 26px;
			padding: 0 30px;
		}

		.chat-row.invisible {
			visibility: hidden;
		}
	</style>
	<script type="text/javascript" src="/pub/jquery-3.1.0.min.js"></script>
</head>
<body>
	<div class="notification">
		<div class="inner-content">
			<div class="content-title"> </div>
			<div class="content-text"> </div>
		</div>
	</div>
	<div class="chat">
		<div class="chat-row invisible"></div>
		<div class="chat-row invisible"></div>
		<div class="chat-row invisible"></div>
	</div>
	<script type="text/javascript">
		var socket;
		function connect() {
			socket = new WebSocket('ws://localhost:8001');
			socket.onclose = function() {
				setTimeout(connect, 7000);
			}
			socket.onmessage = function(message) {
				var messageData = JSON.parse(message.data);
				if(messageData.type === 'notification') {
					$('.content-title').html(messageData.title);
					$('.content-text').html(messageData.message);
					$('.inner-content').addClass('animate-inner-content');
					setTimeout(function() {
						$('.inner-content').removeClass('animate-inner-content');
					}, 10000);
				} else if(messageData.type === 'chat') {
					addChat(messageData.from, messageData.message);
				}
			}
		}
		connect();

		function addChat(from, message) {
			var $chatContainer = $('.chat');
			$chatContainer.append('<div class="chat-row"><strong>' + from + '</strong>:&nbsp;' + abbr(message, 88) + '</div>');
			var $chat = $('.chat-row');
			$chat.addClass('animate-chat-rows');
			setTimeout(function() {
				if ($chat.length >= 3) {
					$chat.first().remove();
				}
				$chat.removeClass('animate-chat-rows');
			}, 1000);
		}

		function abbr(string, len) {
			return (string.length > len) ? string.substr(0,len-1)+'&hellip;' : string;
		}
	</script>
</body>
</html>